accelerate
annotated-types
anyio
astunparse
attrs
certifi
charset-normalizer
click
distro
filelock
fsspec
gensim
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
hf-xet
httpcore
httplib2
httpx
huggingface-hub
idna
Jinja2
jiter
jsonlines
MarkupSafe
mpmath
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
openai
packaging
pandas
proto-plus
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyyml
regex
requests
rsa
safetensors
scipy
shellingham
six
smart_open
sniffio
sympy
tenacity
tiktoken
tokenizers
torch
tqdm
transformers
triton
typer-slim
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
wrapt
